/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  /* background-color: beige; */
  background:linear-gradient(to bottom, #fde8d5, #e8f4f8);
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}

ul {
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

li {
  margin-bottom: 0.5rem;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/******************************************
/* LAYOUT
/*******************************************/
header {
  margin: 2% 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  margin: 0 1%;
}

nav {
  width: 100%;
  padding: 0.5rem;
  background-color: lightblue;
  border-radius: 1rem;
  display:flex;
  align-items: center;
}

#digidish-logo {
  border-radius: 30%;
  width: 120px;
  height: 67px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
}

nav ul li {
  padding: 0.5rem;
  border-radius: 0.5rem;
  list-style:none;

}

nav ul li a {
  color: #c75c2c;
  text-decoration: none;
  font-weight: bold;
}

nav ul li:hover {
  background-color:lightskyblue;
}

/* disable hamburger menu on larger screens */
.hamburger {
  display:none;
}

.hamburger-icon {
  cursor:pointer;
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

/* For extra small screens like small phones */
@media (max-width: 600px) {
  .nav-list {
    display: none;
  }
  .hamburger {
    display: block;
    
  }
}

/* for large phones and tablets */
@media (max-width: 992px) {
  nav {
    justify-content: space-between;
  }

  .nav-list {
    display: none;
  }
  .hamburger {
    display: block;
  }
}